<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between ">
        <svg preserveAspectRatio="xMidYMid meet" data-bbox="55.5 53.9 90 90" viewBox="55.5 53.9 90 90" height="65" width="65" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true">
      <g>
        <switch>
          <g>
            <path
              d="M100.5 53.9c-24.9 0-45 20.1-45 45s20.1 45 45 45 45-20.1 45-45c0-24.8-20.2-45-45-45zm0 85.7c-22.5 0-40.7-18.2-40.7-40.7 0-22.5 18.2-40.7 40.7-40.7s40.7 18.2 40.7 40.7c0 22.5-18.3 40.7-40.7 40.7z">
            </path>
            <path
              d="M117.3 106.2c-1.4 0-2.6.4-3.7 1L103.4 97l16.8-17c.8-.8.8-2.1 0-2.8-.8-.8-2.1-.8-2.8 0l-16.9 16.9-17-16.9c-.8-.8-2.1-.8-2.8 0-.8.8-.8 2.1 0 2.8l16.9 16.9-10.2 10.2c-1.1-.6-2.4-1-3.7-1-4.2 0-7.5 3.4-7.5 7.5s3.4 7.5 7.5 7.5c4.2 0 7.5-3.4 7.5-7.5 0-1.3-.4-2.6-1-3.7l10.2-10.2 10.2 10.2c-.6 1.1-1 2.4-1 3.7 0 4.2 3.4 7.5 7.5 7.5 4.2 0 7.5-3.4 7.5-7.5s-3.2-7.4-7.3-7.4zm-33.6 11.5c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4zm33.6 0c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4z">
            </path>
          </g>
        </switch>
      </g>
    </svg>
        <h1 class="logo me-auto me-lg-0"><a href="index.html">Barbearia do Seu Antônio<span>.</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        &nbsp; &nbsp; &nbsp;

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Página Inicial</a></li>
                <li><a class="nav-link scrollto" href="#about">Quem Somos</a></li>
                <li><a class="nav-link scrollto" href="#services">Serviços</a></li>
                <li><a class="nav-link scrollto " href="#portfolio">Galeria</a></li>
                <li><a class="nav-link scrollto" href="#team">Time</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contatos</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>Barbearia do Seu Antônio, a barbearia mais top do Brasil<span>( ͡° ͜ʖ ͡°)</span></h1>
                <h2>A barbearia não se responsabiliza por resultados de calvície</h2><br>
                <div class="d-flex justify-content-center">
                    <div class="btn-seta">
                        <svg preserveAspectRatio="xMidYMid meet" data-bbox="6.443 47.497 187.114 105.008" xmlns="http://www.w3.org/2000/svg" viewBox="6.443 47.497 187.114 105.008" role="presentation" aria-hidden="true">
                          <g>
                            <path
                              d="M174.476 51.261l-74.704 74.193L25.578 50.75c-4.287-4.316-11.566-4.341-15.882-.054s-4.341 11.565-.055 15.882l82.107 82.673c4.287 4.316 11.566 4.341 15.882.055l82.673-82.107c4.316-4.287 4.341-11.566.055-15.882s-11.235-4.342-15.882-.056z">
                            </path>
                          </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="../assets/img/ariel_cabelo.jpeg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                    <h3>Conheça a barbearia mais top de linha desse país, especialista em cortes de estilo.</h3>
                    <p class="fst-italic">
                        Fundada em 2004, a barbearia do Seu Antônio vem se destacando a cada ano no mercado, sendo reconhecida em todo Brasil.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Serviço de qualidade.</li>
                        <li><i class="ri-check-double-line"></i> Cortes nunca antes vistos na história da humanidade.</li>
                        <li><i class="ri-check-double-line"></i> Equipamentos de ponta, dando o melhor atendimento aos nossos clientes para ter o melhor conforto.
                        </li>
                    </ul>
                    <p>
                        A barbearia do Seu Antônio sempre se mantem atualizada para que tenha o melhor serviço que uma barbearia pode ter, sempre ouvindo seus clientes.
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Section -->

    <br>
    <br>
    <br>

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients container">

        <div class="d-flex justify-content-around">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
            <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
            <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
        </div>

    </section>
    <!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Serviços</h2>
                <p>Se liga nesses cortes</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box box-1">
                        <div class="icon"></div>
                        <h4><a href="">Corte do Trump <br> R$20,00</a></h4>
                        <p>Receba o corte do ex Presidente dos EUA, com direito a muito blá blá blá sobre política.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box box-2">
                        <div class="icon"></div>
                        <h4><a href="">Resistência ao fogo <br> R$25,00</a></h4>
                        <p>Se você tem medo de seu cabelo pega fogo, esse corte é pra você.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box box-3">
                        <div class="icon"></div>
                        <h4><a href="">Retorne ao macaco <br> R$30,00</a></h4>
                        <p>Para aqueles que querem deixar a sua humanidade e retorna ao macaco.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box box-4">
                        <div class="icon"></div>
                        <h4><a href="">Careca kkkkkkk <br> R$15,00</a></h4>
                        <p>Perfeito para aqueles que querem aceitar a perdar do cabelo.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon-box box-5">
                      <div class="icon"></div>
                      <h4><a href="">Jojo reference <br> R$26,00</a></h4>
                      <p>Para os jojofags, uma baita referência a jojo, com um corte de qualidade.</p>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box box-6">
                        <div class="icon"></div>
                        <h4><a href="">Combo triplo <br> R$35,00</a></h4>
                        <p>Além do Presidente Trump, tenha seu cabelo cortado por mais um juiz e um lutador de luta livre.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

          <div class="text-center">
            <h3>Venha pra farra!!!</h3>
            <p> Assine nosso serviço premium. Pagando R$80 por mês para receber cortes e tratamentos inéditos que não são mostrados em nosso site, além de receber notícias sobre futuros cortes que chegarão ao nossa barbearia.</p>
            <a class="cta-btn" href="#">Venha pra farra</a>
          </div>

        </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Galeria</h2>
            <p>Veja nossa galeria de fotos</p>
          </div>

          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/branco.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Cabelo 1</h4>
                  <p>Cabelo</p>
                  <div class="portfolio-links">
                    <a href="../assets/img/portfolio/branco.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/masc.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Barba 1</h4>
                  <p>Barba</p>
                  <div class="portfolio-links">
                    <a href="../assets/img/portfolio/masc.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/careca.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Cabelo 2</h4>
                  <p>Cabelo</p>
                  <div class="portfolio-links">
                    <a href="../assets/img/portfolio/careca.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card art-1">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/henry.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Bigode 2</h4>
                  <p>Bigode</p>
                  <div class="portfolio-links">
                    <a href="../assets/img/portfolio/henry.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/peludo.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Barba 2</h4>
                  <p>Barba</p>
                  <div class="portfolio-links">
                    <a href="../assets/img/portfolio/peludo.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/cast.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Cabelo 3</h4>
                  <p>Cabelo</p>
                  <div class="portfolio-links">
                    <a href="../assets/img/portfolio/cast.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/fino.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Bigode 1</h4>
                  <p>Bigode</p>
                  <div class="portfolio-links">
                    <a href="../assets/img/portfolio/fino.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/serio.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Bigode 3</h4>
                  <p>Bigode</p>
                  <div class="portfolio-links">
                    <a href="../assets/img/portfolio/serio.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="../assets/img/portfolio/macaco.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Barba 3</h4>
                  <p>Barba</p>
                  <div class="portfolio-links">
                    <a href="../assets/img/portfolio/macaco.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Portfolio Section -->

      <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Grupo</h2>
          <p>Conheça os membros do grupo</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="../assets/img/seu_antonio.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Seu Antônio</h4>
                <span>Chefe Executivo</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="../assets/img/veio_havan.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Veio da Havan</h4>
                <span>Gerente de Produto</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Gabriel Araújo</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="../assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Beatriz Caroline</h4>
                <span>Contadora</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contatos</h2>
          <p>Nossos Contatos</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Localização:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telefone:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nome" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujeito" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensagem" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    <br>
  <br>

  <div class="container bg-dark col-7 text-white td-flex flex-column align-items-center footer-info text-center fs-5">
    <h3>Lista de Clientes</h3>
    <div class="jus">
      <table class="table table-black text-white">
        <thead>
          <tr>
            <th class="px-5" scope="col"># Fila</th>
            <th class="px-5" scope="col">Nome</th>
            <th class="px-5" scope="col">Serviço</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let c of fila; let i = index'>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ c.cliente }}</td>
            <td>{{ c.servico == 0 ? 'Cabelo' : ( c.servico == 1 ? 'Barba' : 'Combo') }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Barbearia do Seu Antônio<span>.</span></h3>
            <p>
              A108 Adam Street <br>
              NY 535022, USA<br><br>
              <strong>Telefone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Links úteis</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Página Inicial</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Quem Somos</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Serviços</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Termos de Serviço</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Política de Privacidade</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nossos Serviços</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Desenvolvimento web</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Gerenciamento de Produtos</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Design Gráfico</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Nossa Newsletter</h4>
          <p>Se inscreva em nossa Newsletter para receber notícias sobre nossa barbearia e o mundo dos cabelos.</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Inscrever-se">
          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Barbearia do Seu Antônio</span></strong>. Todos os direitos reservados
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
      Projetado por Gabriel Araújo Rodrigues e Beatriz Caroline Falce Santos
    </div>
  </div>


</footer><!-- End Footer -->
